# Dependencies
node_modules/

# Build
dist/
build/
coverage/

# Env / secrets
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# Prisma
prisma/*.db
prisma/*.db-journal

# Test / temp
.tmp/
.temp/
